.body {
    font-family: 'Titillium Web', sans-serif;;
    color: white;
}

h4.introduction:hover {
    font-style: italic;
    color: rgb(132, 132, 214);
}

.introduction {
    font-size: 30px;
    line-height: 2;
}

.p #description {
    font-size: 20px;
    font-weight: 600px;
}



@media (max-aspect-ratio: 1/1) and (max-width: 520px) {
    div#introduction {
        margin-left: 0 !important;
        margin-right: 80px;
        width: auto;
        height: 100%;

      }
      .intro {
          width: 100%;
          float: left;
          margin-right: 100px;
      }
  
}

@media (max-aspect-ratio: 1/1) and (max-width: 780px) {
    div#introduction {
        margin-left: 0 !important;
        margin-right: 80px;
        width: auto;
        height: 100%;
    }
        .intro {
            width: 100%;
            float: left;
            margin-right: 100px;
        }
}

@media (max-aspect-ratio: 1/1) and (min-width: 900px) {
div#introduction {
    margin-left: 0 !important;
    margin-right: 80px;
    width: auto;
    height: 100%;
}
    .intro {
        width: 100%;
        float: left;
        margin-right: 100px;
    }
}
