*,
body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

body {
    font-size: 24px;
    overflow-x: hidden;
    min-width: 306px;
    padding: 0;
    margin: 0;
}

header {
    max-width: 100%;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.65)), url(../portfoliopics/island.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: scroll;
    height: 70vh;
}

/*-------------------------*/
/*--------HEADER-----------*/
/*-------------------------*/


.loader {
    display: flex;
    align-self: center;
    justify-self: center;
}

div.socialmedia {
    justify-content: center;
    max-width: 100%;
    max-height: auto;
    display: block;
    position: fixed;
    top: 1%;
    right: 0.5%;
    height: 81px;
    width: 22px;
    z-index: 9999;
}

ul.social-icons {
    justify-content: center;
    width: fit-content;
    position: fixed;
    color: #4b87b2;
}

ul .clark-social a:link,
ul .clark-social a:visited {
    color: #4b87b2;
    transition: color .5s;
    -webkit-transition: ;
    -moz-transition: ;
    -ms-transition: ;
    -o-transition: ;
}

ul .clark-social a:hover,
ul .clark-social a:active {
    color: #86afcc;
}

.social-icons li { list-style: none; }

li.clark-social {
    width: 25px;
    margin: 0;
}

div.hero-text-box {
    width: 100%;
    height: 35%;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -70%);
    -webkit-transform: translate(-50%, -70%);
    -moz-transform: translate(-50%, -70%);
    -ms-transform: translate(-50%, -70%);
    -o-transform: translate(-50%, -70%);
}

.hero-text-box p {
    font-weight: normal;
    font-size: 128%;
    margin: 1.5% 0 3.5% 0;
    color: #fdfefe;
    text-align: center;
}


.hero-text-box p:first-child {
    font-family: 'Press Start 2P', cursive !important;
    font-style: italic;
    font-weight: 100;
}

.hero-text-box p {
    font-family: 'Changa', sans-serif !important;
    font-family: 'Gloria Hallelujah', sans-serif !important;
    font-weight: 100;
}

.row h2 {
    margin-left: 0px;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: #000;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    letter-spacing: 1px;
    font-style: normal;
    color: #000;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #4b87b2;
    content: "";
    width: 150px;
    margin: 20px auto 0;
}

section { padding: 80px 0; }
p { display: block; }

.heroButton {
    margin: 2%;
    color: #fff;
}

div.navbar {
    display: block;
    width: 50%;
}

div.navigaton { width: 50%; }

a.heroButton.mobile-link {
    font-size: 90%;
    line-height: 1em;
    overflow: hidden;
    width: fit-content;
}

.burgers:hover { cursor: pointer; }

ul.hamburgerDropDown {
    position: fixed;
    left: 0;
    top: 0;
    width: fit-content;
    margin-bottom: -5%;
    margin-left: 12%;
    padding: 5px;
}

.hamburgerDropDown li {
    width: fit-content;
    padding: 0;
    list-style: none;
    line-height: 1.5em;
}


.hamburgerDropDown li a:link,
.hamburgerDropDown li a:visited {
    text-decoration: none;
    border: 0;
    color: #fff;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
}

.hamburgerDropDown li a:hover,
.hamburgerDropDown li a:active {
    color: #888;
}

/* Position of the hamburger symbol */
.navbar div {
    position: relative;
    display: inline-block;
    z-index: 0;
}

.main-nav {
    position: absolute;
    display: none;
    list-style: none;
    flex-direction: row;
    bottom: 0;
}

.main-nav li {
    font-size: 80%;
    margin-bottom: -3.2%;
    margin-right: 0%;
    padding: 1%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.405));
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 2% 0;
    color: #bdbdbd;
    text-decoration: none;
    font-size: 100%;
    border-bottom: 2px solid transparent;
    transition: color 0.2s, font-size 0.2s;
    -webkit-transition: ;
    -moz-transition: ;
    -ms-transition: ;
    -o-transition: ;
}

.main-nav li a:hover,
.main-nav li a:active {
    color: #fff;
}

.row {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

/*----------------------*/
/*-------ION ICON-------*/
/*----------------------*/

ion-icon {
    height: 1.7rem;
    width: 1.7rem;
    line-height: 0%;
}

.ion-icon { display: block; }

/*----------------------*/
/*----INTRO SECTION-----*/
/*----------------------*/

.section-aboutme {
    position: relative;
    padding-bottom: 0 !important;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.row {
    width: 100%;
    margin: 0;
    padding: 0 !important;
}

.homepagecontainer {
    width: 100%;
    margin: 0 auto;
}

div.author-box {
    position: absolute;
    top: 4em;
    left: 0em;
    max-width: 100%;
    height: auto;
    width: 100%;
}

figure.author-pic {
    text-align: center;
    justify-content: center;
    align-items: center;
    height: auto;
    max-width: 100%;
    border-radius: 50%;
    margin: 0;
    object-fit: fill;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

figure.author-pic img {
    margin: 0;
    height: 8em;
    width: 8em;
    border-radius: 50%;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 1px 2px 18px #777;
}

.intro-box {
    height: auto;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 9em auto 0 auto;
    padding-right: inherit !important;
}

h2.intro-header {
    font-style: normal;
    max-width: 100%;
    flex-grow: auto;
    font-size: 230%;
    display: block;
    margin: 0 auto 5% auto;
    color: #000;
}

p.intro-text {
    display: flex;
    align-self: center;
    max-width: 80%;
    margin: 5% auto;
}

.row p.intro-text {
    line-height: 1.8rem;
    text-align: center;
    align-items: center;
    display: block;
}

.section-aboutme div.row div.box {
    z-index: 0;
}

.skills {
    width: 100%;
    margin: 1em auto;
}

.skills h3 {
    margin: 40px auto 30px auto;
    width: 90%;
}

.skillslist {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 1em auto 50px auto;
    width: 82%;
}

a.skilllink { color: inherit; }
a.skilllink:hover { 
    color: inherit;
    text-decoration: none ;
}

.skillslist li {
    list-style: none;
    text-align: center;
    margin: 0.5em 1.2em auto 0;
    /* border: 1px solid black; */
    padding: 2px;
}

ul.skillslist {
    color: #325a76;
}

/*----------------------*/
/*-----PHOTOGRAPHY------*/
/*----------------------*/

.flex-container {
    box-sizing: border-box;
    position: relative;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.flex-container:last-child {
    padding: 0px;
    margin-bottom: 100px;
}

div.photo-box:first-child {
    display: flex;
    flex-direction: column;
}

div.photo-box,
div.yerba-box {
    flex-grow: 1;
    flex-basis: 300px;
    margin: 10px 0;
}

h2.photo-header {
    font-size: 230%;
    color: #0a0a0a;
    margin: 0 auto 7% auto;
    display: block;
    flex-grow: auto;
}

h2.photo-header:after {
    content: " ";
    border-bottom: 2px solid #4b87b2;
    display: block;
    background-color: #4b87b2;
    width: 150px;
    margin: 25px auto 30px auto;
}

.photo-box { width: 100%; }

div.intro-text {
    width: 80%;
    text-align: center;
    margin: auto;
}

img .pic-gallery {
    height: 50px;
    width: 50px;
    max-width: 90%;
    
}

div.photo-gallery {
    max-width: 80%;
    margin: auto auto 2em auto;
    box-shadow: 1px 2px 18px #777;
    
}

.photo-gallery img:first-child {
    border-bottom: 4px solid #0a0a0af6;
}

.photo-box:last-child {
    z-index: 0;
}

.pic-gallery {
    height: 50px;
    width: 50px;
}


/*----------------------*/
/*-----YERBA MATE-------*/
/*----------------------*/


h2.yerba-header-1 {
    max-width: 100%;
    flex-grow: auto;
    font-size: 230%;
    display: block;
    margin-bottom: 7%;
}

h2.yerba-header-2 {
    display: none;
}

div.yerba-box {
    position: relative;
    max-width: 100%;
    text-align: center;
}

.yerba-pic img {
    width: 13.5em;
    height: 13.5em;
}

.yerba-pic img { box-shadow: 1px 2px 18px #777; }


div.yerba-text {
    text-align: center;
}

.yerba-text p {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

.mateguys-link a {
    text-decoration: none;
    color: #0a0a0a;
}

.mateguys-link:link,
.mateguys-link:visited {
    text-decoration: none;
    color: #0a0a0a;
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
}

.mateguys-link:hover,
.mateguys-link:active {
    color: #919191;
    transition: border 0.3s, color 0.3s ease;
    -webkit-transition: border 0.3s, color 0.3s ease;
    -moz-transition: border 0.3s, color 0.3s ease;
    -ms-transition: border 0.3s, color 0.3s ease;
    -o-transition: border 0.3s, color 0.3s ease;
}

.flex-container:last-child {
    margin-bottom: 20px;
}

/*-------------------------------*/
/*------------ Projects----------*/
/*-------------------------------*/

.section-projects {
    position: relative;
    height: auto;
    overflow: hidden;
    padding-bottom: 40px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

h2.project-header {
    max-width: 70%;
    flex-grow: 1;
    font-size: 230%;
    display: block;
    margin: auto;
}

h2.project-header { width: 80%; }

p.project-text { width: 70%; }

h3.project-title {
    display: flex;
    align-self: center;
    max-width: 80%;
    margin: 60px auto 40px auto;
}

.row h3.project-title {
    line-height: 1rem;
    text-align: center;
    align-items: center;
    display: block;
}

div.firstproject {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.project-text {
    margin-top: 5%;
    text-align: center;
    width: 80%;
}

.weddinglink {
    margin-bottom: 5%;
    color: #325a76;
}

img.projectpicture {
    width: 80%;
    height: 70%;
    margin-bottom: 10%;
    box-shadow: 1px 2px 18px #777;
}

/*-------------------------------*/
/*-------- Contact Section-------*/
/*-------------------------------*/

/* section.section-contact-me {
    height: auto;
    max-width: 100%;
    position: relative;
    color: #fff;
    margin: 0 auto;
    background-image: linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0, 0.15)), url("../portfoliopics/chimarrao.jpg");
    background-size: auto;
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.contact-box {
    justify-content: center;
    top: 40%;
    z-index: 0;
    margin: 0 auto;
    height: auto;
    max-width: 100%;
    color: #fff;
    padding: 3%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .5);
    overflow: hidden;
}

.contact-box:before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    background: #000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.45)), url("../portfoliopics/chimarrao.jpg");
    background-attachment: scroll;
    background-position: center;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.contact-box h2,
.contact-box p {
    margin-left: 0;
}

.contact-box h2 {
    width: 100%;
    position: relative;
    margin: 2% 0 2% 0;
    padding: 3%;
    font-size: 150%;
}

.contact-box p {
    width: 100%;
    position: relative;
    margin: 0 0 4% 0;
    padding: 0% 2%;
    line-height: 1.8em;
    text-align: center;
    font-size: 95%;
}

.contactme {
    text-decoration: underline;
}

.contact-text button {
    width: 50%;
    position: relative;
    background-color: #d4802c;
    margin-top: 15px;
    border-radius: 15px;
    -webkit-border-radius: ;
    -moz-border-radius: ;
    -ms-border-radius: ;
    -o-border-radius: ;
}

button a {
    text-align: center;
    color: #ddd;
    text-decoration: none;
    font-size: 110%;
}

.contact-text p a:link,
.contact-text p a:visited {
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    border: 0;
    color: #fff;
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
}

button.btn {
    width: 80%;
    padding: 12px 18px;
}

.btn:hover,
.btn:active {
    background-color: #e78e35;
} */


/*----------------------------------*/
/*--------------FOOTER--------------*/
/*----------------------------------*/

.scroller {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 1em;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.scroller button {
    cursor: pointer;
    border: none;
    background-color: #325a76;
    color: #fff;
    height: 1.38em;
    margin-bottom: 10px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.scroller button:hover {
    color: #5da4d6;
}

footer {
    width: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: inherit;
    position: relative;
    background-color: #1e3546;
    height: auto;
    padding: 20px 0 10px 0;
    margin: 0;
    overflow: hidden;
}

.copyright-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright-box p {
    font-size: 72%;
    max-width: 100%;
    margin: 0 auto;
    color: #7c7c7c;
}

.footer-box ul {
    align-self: center;
    justify-content: space-around;
}

.footer-nav {
    text-align: center;
    top: 0%;
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 100%;
    list-style: none;
    padding: 0%;
    margin-top: 0%;
}

.footer-nav li {
    font-size: 55%;
}

div.row.row-footer,
div.row.row-copyright {
    margin: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited {
    font-size: 170%;
    text-decoration: none;
    border: 0;
    color: #adadad;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #e7e7e7;
}