.link {
    color: rgb(42, 42, 90);
    font-style: underline;
}

.link:hover {
    color: rgb(73, 74, 78);
}

div.photography {
    margin-left: -20px;
    margin-right: 16px;
    text-align: center;
}

h4#imgheader {
    margin-bottom: 20px;
    text-align: center;
    margin-left: 20px;
}

ul.pics{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    float: left;
   
}

li.pics{
    height: 40vh;
    flex-grow: 1;
    list-style: none;
    align-items: stretch;
    padding: 0;
}

img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    margin-bottom: 0;
    flex-grow: 1;
}

li:last-child {
    flex-grow: 20;
}

@media (max-aspect-ratio: 1/1) {
    li {
      height: 30vh;
    }
  }

  @media (max-height: 480px) {
    li {
      height: 80vh;
    }
  }

  @media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    ul {
      flex-direction: row;
    }
  
    li {
      height: auto;
      width: 100%;
    }
  
    img {
      width: 100%;
      max-height: 75vh;
      min-width: 0;
      border-style: dotted;
      border:
    }
  }