/*----------------------------*/
/*-----Responsive Design------*/
/*----------------------------*/

/* Medium sized phones 500px and up */

@media only screen and (min-width: 500px) {

    .hero-text-box {
        top: 55%;
        left: 50%;
        transform: translate(-50%, -70%);
        -webkit-transform: translate(-50%, -70%);
        -moz-transform: translate(-50%, -70%);
        -ms-transform: translate(-50%, -70%);
        -o-transform: translate(-50%, -70%);
    }

    .hero-text-box p { font-size: 170%; }
    div.socialmedia { right: 2%; }

    ion-icon {
        width: 1.6em;
        height: 1.6em;
    }

    p.intro-text { margin-bottom: 0%; }
    .skillslist li { margin: auto 2em; }

    .photo-box:first-child {
        margin: 0 0%;
        text-align: center;
    }

    .photo-box:last-child {
        margin-top: 5%;
        justify-content: center;
        display: flex;
    }

    .slider-gallery { width: 85%; }
    .slider-gallery img { height: 14em; }

    .yerba-text {
        width: 75%;
        margin: auto;
    }

    h3.project-title { margin: 10% auto 0 auto; }
    .contact-box { margin: 0 7%; }

    .contact-box h2 {
        padding: 3%;
        font-size: 180%;
    }

    .contact-box p {
        margin: 0 0 5% 0;
        padding: 0% 2%;
        font-size: 100%;
    }

    button.btn { width: 60%; }
    .scroller button { height: 1.6em; }

    .footer-box ul {
        font-size: 120%;
        max-width: 100%;
        justify-content: space-evenly;
    }
}

/* Large Phones and Landscape Mode 576px and up */
@media only screen and (min-width: 576px) {

    header {
        background-position: right;
        background-size: auto;
        height: 80vh;
    }

    .hero-text-box { top: 66%; }
    ul.hamburgerDropDown { margin-left: 8%; }

    .hamburgerDropDown li {
        line-height: 1.4em;
        font-size: 100%;
    }

    p.intro-text { margin-top: 1%; }
    .flex-container { margin-bottom: 5%; }

    div.photo-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    div.photo-box:last-child { margin-right: 0%; }
    h2.yerba-header-1 { margin-bottom: 15%; }

    div.yerba-box {
        align-items: center;
        justify-content: center;
        display: flex;
    }

    div.yerba-box:last-child { margin: 0 5% 1% 5%; }
    div.yerba-text { width: 90%; }

    div.slider-gallery {
        width: 450px;
        margin: auto;
    }

    div.hamburgers { width: 25px; }
    h3.project-title { margin: 5% auto 0 auto; }

    img.projectpicture {
        width: 400px;
        height: 400px;
    }

    .project-text { width: 55%; }

}

/* Tablets 768px and up */
@media only screen and (min-width: 768px) {

    header {
        background-position: bottom;
        background-size: auto;
        background-attachment: fixed;
        height: 80vh;
    }

    div.socialmedia {
        top: 30%;
        right: 2%;
    }

    ion-icon {
        height: 2.3rem;
        width: 2.3rem;
    }

    .hero-text-box {
        top: 77%;
        left: 50%;
    }

    ul.hamburgerDropDown { margin-left: 6%; }

    .hamburgerDropDown li {
        line-height: 1.4em;
        font-size: 125%;
    }

    .section-aboutme {
        position: relative;
        height: auto;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .skills { margin: 3em auto; }
    .skills h3 { margin: 5% auto 8% auto; }

    .skillslist {
        display: flex;
        justify-content: center;
        width: 70%;
    }

    .skillslist li {
        list-style: disc !important;
        margin: auto 2em 1em 2em;
        border-bottom: 1px solid transparent;
    }

    .skillslist li:hover {
        border-bottom: 1px solid #325a76;
        cursor: pointer;
    }

    div.author-box {
        position: absolute;
        top: 1.5em;
        left: 0em;
        max-width: 100%;
        height: auto;
        width: 100%;
    }

    div.author-box {
        position: absolute;
        top: 3em;
        left: 0em;
        max-width: 100%;
        height: auto;
        width: 100%;
    }

    figure.author-pic {
        text-align: center;
        justify-content: center;
        align-items: center;
        height: auto;
        width: auto;
        border-radius: 50%;
        margin: 0;
        object-fit: fill;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}

    figure.author-pic img {
        margin: 0;
        height: 8em;
        width: 8em;
        border-radius: 50%;
        object-fit: cover;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
}

    @keyframes slidein {
        from {
            transform: translateX(100%);
            -webkit-transform: translateX(100%);
            -moz-transform: translateX(100%);
            -ms-transform: translateX(100%);
            -o-transform: translateX(100%);
}

        to {
            transform: translateX(0%);
            -webkit-transform: translateX(0%);
            -moz-transform: translateX(0%);
            -ms-transform: translateX(0%);
            -o-transform: translateX(0%);
}
    }

    .intro-box {
        display: block;
    }

    h2.intro-header {
        flex-grow: auto;
        font-size: 230%;
        margin: auto 5% auto;
    }

    div.intro-text {
        margin: 0 0;
        align-self: center;
    }

    p.intro-text {
        display: flex;
        align-self: center;
        justify-content: center;
        max-width: 80%;
        margin-bottom: 0%;
        margin-top: 4%;
        animation: 2s ease-in 0.65s both running slidein;
        -webkit-animation: 2s ease-in 0.65s both running slidein;
}

    .row p.intro-text { width: 100%; }

    .yerba-text p {
        width: 80%;
        margin: auto;
    }

    h2.yerba-header-1 { display: none; }

    h2.yerba-header-2 {
        flex-grow: auto;
        font-size: 230%;
        display: block;
        margin: 2% 0 5% 0;
    }

    div.photo-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto 0;
        justify-content: center;
    }

    div.photo-box:last-child { margin-right: 0%; }
    div.slider-gallery { width: 380px; }

    .yerba-box:last-child {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .yerba-pic img {
        height: 18em;
        width: 18em;
    }

    .flex-container:first-child { width: 97%; }
    .flex-container:last-child { margin-bottom: 50px; }
    .project-text { width: 50%; }

    section.section-contact-me {
        height: 80vh;
        background-attachment: fixed;
        overflow: hidden;
    }

    .contact-box:before {
        background-attachment: fixed;
        background-position: center;
    }

    .row div.contact-box { width: 80%; }

    .contact-box {
        margin: 0 8%;
        padding: 3%;
    }

    .contact-box p {
        height: inherit;
        width: 70%;
        margin: auto auto 3% auto;
    }

    .scroller button {
        width: 10%;
        height: 1.8em;
    }

    footer { padding: 25px 0 15px 0; }

    .footer-nav li {
        margin-bottom: 20px;
        font-size: 45%;
    }

    footer .row p { font-size: 95%; }
}

/* Medium sized mobile, landscape mode */
@media only screen and (max-height: 540px) and (min-width: 768px) {

    header {
        width: 100vw;
        background-size: cover;
        background-attachment: scroll;
        background-position: bottom;
    }

    .contact-box { margin: 0 5%; }

    .contact-box p {
        width: 100%;
        font-size: 104%;
    }

    .contact-box h2 {
        font-size: 190%;
        margin-bottom: 1%;
        padding: 1%;
    }
}

/* Small laptop screen / Large Tablet 992px and up */
@media only screen and (min-width: 992px) {

    .hero-text-box p:first-child { margin-bottom: 1%; }
    .hero-text-box p { font-size: 180%; }

    div.navigation {
        display: flex;
        position: absolute;
    }

    div.navbar {
        position: relative;
        width: 100%;
    }

    ul.hamburgerDropDown { margin-left: 6%; }

    .hamburgerDropDown li {
        line-height: 1.4em;
        font-size: 125%;
    }

    ul.main-nav {
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        max-width: 100%;
        text-align: center;
        list-style: none;
        position: fixed;
    }

    .main-nav li {
        font-size: 100%;
        padding: 1% 7%;
    }

    .intro-box { margin-top: 20%; }
    p.intro-text {
        box-shadow: 1px 2px 8px #777777;
        border-radius: 20px;
        padding: 30px;
        max-width: 600px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}

    .row p.intro-text {
        line-height: 2.1rem;
        margin: 4% auto;
    }

    figure.author-pic {
        margin: 0 auto; 
        height: 250px;
        width: 350px;
    }
    .author-pic img { box-shadow: 1px 2px 18px #777; }
    figure.author-pic img {
        height: 12em;
        width: 12em;
    }

    div.slider-gallery { 
        width: 400px; 
        box-shadow: 1px 2px 18px #777;
        margin: 0 0 5% 0;
    }
    .flex-container { margin-bottom: 0;}
    img.projectpicture { 
        margin-bottom: 20px;
        box-shadow: 1px 2px 18px #272727;
    }
    .project-text { width: 40%; }

    h2.intro-header { margin-bottom: 5%; }
    div.photo-box:first-child { margin: 1% auto auto auto; }
    .yerba-pic { box-shadow: 1px 2px 18px #777; }
  
    section.section-contact-me { height: 70vh; }

    .contact-box p {
        width: 80%;
        margin: auto;
    }

    .contact-box { margin: 0 14.5%; }
    .contact-box p { font-size: 110%; }
    .contact-box h2 { font-size: 230%; }
    .scroller button { height: 1.87em; }
}

/* Tablet landscape mode */
@media only screen and (max-height: 540px) and (min-width: 992px) {

    header {
        width: 100vw;
        background-size: cover;
    }

    .contact-box { margin: 0 6%; }

    .contact-box p {
        width: 100%;
        font-size: 107%;
        padding: 1%;
    }

    .contact-box h2 { padding: 1%; }
}

/* Large Desktops 1200px and up */
@media only screen and (min-width: 1200px) {

    .section-aboutme {
        position: relative;
        height: auto;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.author-box {
        position: absolute;
        top: 4em;
        left: 0em;
        max-width: 100%;
        height: auto;
        width: 100%;
    }

    figure.author-pic {
        text-align: center;
        justify-content: center;
        align-items: center;
        height: auto;
        width: auto;
        border-radius: 50%;
        margin: 0;
        object-fit: fill;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    .intro-box {
        height: auto;
        position: relative;
        text-align: center;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        margin-top: 15em;
    }

    h2.intro-header { margin: 0 auto 3.5% auto; }

    p.intro-text {
        display: flex;
        align-self: center;
        max-width: 650px;
        margin: 1% auto;
    }

    .row p.intro-text {
        line-height: 1.8rem;
        text-align: center;
        align-items: center;
        display: block;
    }

    div.photo-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    p.phototext { margin-top: 5%; }

    div.slider-gallery {
        height: auto;
        width: 500px;
    }

    .yerba-box:last-child {
        display: flex;
        justify-content: flex-start;
    }

    .yerba-pic img {
        height: 22em;
        width: 22em;
    }

    .project-text { width: 35%; }
    .contact-box { margin: 0 15%; }
    .contact-box p { font-size: 110%; }
    .contact-box h2 { font-size: 230%; }
}